# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'.

NATURAL_LANGUAGE_CLASSIFIER_APIKEY=<your_nlc_apikey>
NATURAL_LANGUAGE_CLASSIFIER_URL=<your_nlc_url>
CLASSIFIER_ID=<add_ModelID>
